/* Type selector */
h2 {
    color: red;
}

/* Class selector */
.class-selector{
  color: orange;
}

/* Class selector */
#id-selector{
  color: blue;
}

/* Multiple Class selector */
.class-selector-1{
  color: purple;
}

.class-selector-2{
  font-style: italic;
}

.class-selector-1.class-selector-2{
  opacity: 0.5;
}

/* Descendent selector - selects 'a' tag inside 'p' tag*/
p a {
  color: brown;
}

.descendent-selector-1 .descendent-selector-2 {
  font-style: italic;
}

/* Combining selectors */
.combining-selector-1, .combining-selector-2{
  background: lightblue;
  padding: 5px;
  color: white;
}
